<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./lib/vue.js"></script>

</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>任务清单</h1>
            <input autofocus="autofocus" autocomplete="off" placeholder="想干啥?" class="new-todo" v-model="inputToDo" @keyup.enter="addToDo">
        </header>
        <section class="main">
            <input type="checkbox" v-model="checkAll" @change="celectAll" class="toggle-all" >
            <ul class="todo-list" v-cloak>
                <li class="todo" :class="{completed: item.complete,editing: item.isEdit}"  v-for="(item, index) in conputerList" @dblclick="edit(index)">
                    <div class="view">
                        <input type="checkbox" class="toggle" @change="checkIsCheckAll" v-model="item.complete">
                        <label>{{item.name}}</label>
                        <button class="destroy" v-on:click="remove(index)"></button>
                    </div>
                    <input type="text" class="edit"  v-model="cacheEdit" @keyup.enter="saveEdit(index)" @keyup.esc="cancelEdit(index)" @blur="cancelEdit(index)">
                </li>
            </ul>
        </section>
        <footer class="footer">
            <!-- 当剩余的待办事项为零的时候不显示 -->
            <span class="todo-count" v-if="nodo != 0">
                <strong>{{nodo}}</strong> 项 剩余
            </span>
            <ul class="filters">
                <li>
                    <a href="#/all" :class="{selected: visibility == '全部'}" @click="visible('全部')">全部</a>
                </li>
                <li>
                    <a href="#/active" :class="{selected: visibility == '未完成'}" @click="visible('未完成')">未完成</a>
                </li>
                <li>
                    <a href="#/completed" :class="{selected: visibility == '完成'}" @click="visible('完成')">完成</a>
                </li>
            </ul>
            <button class="clear-completed" @click="clearList">
                清空列表
            </button>
        </footer>
    </section>
    <footer class="info">
        <p>双击进入编辑状态</p>
        <p>鸣谢:
            <a href="http://evanyou.me">Evan You</a>
        </p>
        <p>参考于
            <a href="http://todomvc.com">TodoMVC</a>
        </p>
    </footer>

    <script>

        let arrList = JSON.parse(window.localStorage.getItem('toDoList'));

        if (arrList) {
            
        }else{
            arrList = [
                {
                    name: '吃饭',
                    complete: false,
                    isEdit: false
                },
                {
                    name: '睡觉',
                    complete: false,
                    isEdit: false
                },
                {
                    name: '打豆豆',
                    complete: false,
                    isEdit: false
                },
            ]
        }
        



        // tell the embed parent frame the height of the content
        if (window.parent && window.parent.parent) {
            window.parent.parent.postMessage(["resultsFrame", {
                height: document.body.getBoundingClientRect().height,
                slug: "4dr2fLb7"
            }], "*")
        }

        //执行代码
        let app = new Vue({
            el: '.todoapp',
            data: {
                checkAll: false,
                inputToDo: '',
                cacheEdit: '',
                visibility: '全部',
                arrList
            },
            methods: {
                //新增数据
                addToDo(){
                    //去空格后加入数组
                    this.inputToDo = this.inputToDo.trim();
                    if(this.inputToDo != '') {
                        this.arrList.push({
                            name: this.inputToDo,
                            complete: false,
                            isEdit: false
                        })
                        this.inputToDo = ''
                    }
                },
                //删除数据
                remove(index) {
                    this.arrList.splice(index,1);
                },
                //双击显示编辑框,并此案时内容
                edit(index){
                    //排他
                    for(let i = 0; i > this.arrList.length; i++) {
                        this.arrList[index].isEdit = false;
                    };
                    //编辑状态取反
                    this.arrList[index].isEdit = !this.arrList[index].isEdit;
                    this.cacheEdit = this.arrList[index].name;
                },
                //取消编辑esc
                cancelEdit(index){
                    // this.arrList[index].name = this.cacheEdit;
                    this.arrList[index].isEdit = false;
                },
                //取消编辑保存
                saveEdit(index){
                    this.arrList[index].name = this.cacheEdit;
                    this.arrList[index].isEdit = false;
                },
                //清空列表
                clearList(){
                    this.arrList = [];
                },
                //点击高亮
                visible(data){
                    this.visibility =  data;
                },
                //点击全选反选
                celectAll(){
                    for(let i =0; i < this.arrList.length; i++){
                        this.arrList[i].complete = this.checkAll;
                    }
                },
                //计数
                checkIsCheckAll(){
                    //总个数
                    let totalCount = this.arrList.length;
                    //选中的个数
                    let checkCount = this.arrList.filter((v,i)=>{if(v.complete == true){return v;}}).length;
                    //联动上下选择框
                    this.checkAll = totalCount == checkCount;
                },
                //动画过渡
                // randomIndex: function () {
                //     return Math.floor(Math.random() * this.items.length)
                // },
                // add: function () {
                //     this.items.splice(this.randomIndex(), 0, this.nextNum++)
                // },
                // remove: function () {
                //     this.items.splice(this.randomIndex(), 1)
                // },
                // shuffle: function () {
                //     this.items = _.shuffle(this.items)
                // }

                
            },
            computed: {
                //循环计算后的数据
                conputerList(){
                    return this.arrList.filter((v,i)=>{
                        switch (this.visibility) {
                            case '全部':
                                return v ;
                                break;
                            case '未完成':
                                if(v.complete == false) {
                                    return v ;
                                }
                                break;
                            case '完成':
                                if(v.complete == true){
                                    return v ;
                                }
                                break;
                        }
                    })
                },
                //待处理事件总数
                nodo(){
                    let num = 0;
                    for(let i = 0; i < this.arrList.length; i++){
                        if (this.arrList[i].complete == false) {
                            num++
                        }
                    }
                    return num;
                },
                
            }
        })



        window.onbeforeunload = function () {
        // 保存数据
            window.localStorage.setItem('toDoList',JSON.stringify(arrList));
        }

    </script>


</body>

</html>